---
layout: default
---

<div class="about">
  <h2>Liffindra Angga Zaaldian</h2>
  <p>Software Engineer - iOS, Swift</p>
</div>

<h1 class="title--with-border">Artikel</h1>

<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <h2>
      <a class="post-list__link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h2>
    <span class="post-list__meta">{{ post.date | date: "%-d %b %Y" }}</span>
  </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pager">
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li><a class="previous-page" href="{{ paginator.previous_page_path | relative_url }}">Sebelumnya</a></li>
    {% else %}
    <li>
      <div class="pager-edge">•</div>
    </li>
    {% endif %}
    <li>
      <div class="current-page">{{ paginator.page }}</div>
    </li>
    {% if paginator.next_page %}
    <li><a class="previous-page" href="{{ paginator.next_page_path | relative_url }}">Selanjutnya</a></li>
    {% else %}
    <li>
      <div class="pager-edge">•</div>
    </li>
    {% endif %}
  </ul>
</div>
{% endif %}