// Reset some basic elements
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  color: $foreground;
  display: flex;
  flex-direction: column;
  font: 400 #{$base-font-size}/#{$base-line-height} $base-font-family;
  min-height: 100vh;
  overflow-wrap: break-word;
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm {
  margin-bottom: $spacing-unit * .5;
}

hr {
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
}

main {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul, > ol {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
