/**
 * =============================================================================
 * Base
 * =============================================================================
 */

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  padding-left: $spacing-unit * .5;
  padding-right: $spacing-unit * .5;

  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
}

.site-header {
  border-bottom: 0.0625rem solid $green;
  border-top: 0.25rem solid $green;
  line-height: $base-line-height * $base-font-size * 2.25;
  min-height: $spacing-unit * 1.865;
}

.site-title {
  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -0.0625rem;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 3rem;
  }
}

.page-content {
  flex: 1 0 auto;
  padding: $spacing-unit 0;
}

/**
 * =============================================================================
 * Index page
 * =============================================================================
 */

.post-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-list__meta {
  color: $yellow;
  font-size: $base-font-size * .875;
}

.post-list__link {
  color: $cyan;
  display: block;
  font-size: 1.5rem;
}

/**
 * =============================================================================
 * Post
 * =============================================================================
 */

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title, .post-content h1 {
  font-size: 2.625rem;
  letter-spacing: -0.0625rem;
  line-height: 1.15;
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 {
    margin-top: $spacing-unit;
  }

  h2 {
    font-size: 1.75rem;

    @media screen and (min-width: $on-large) {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 1.375rem;

    @media screen and (min-width: $on-large) {
      font-size: 1.625rem;
    }
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1.0625rem;
  }
}