$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$background: #22212C;
$current: #454158;
$selection: #454158;
$foreground: #F8F8F2;
$comment: #7970A9;

$cyan: #80FFEA;
$green: #8AFF80;
$orange: #FFCA80;
$pink: #FF80BF;
$purple: #9580FF;
$red: #FF9580;
$yellow: #FFFF80;

@mixin clearfix() {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin clear() {
  clear: both;
}