$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size: 1rem !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 2rem !default;
$content-width: 45rem !default;
$on-palm: 37.5rem !default;
$on-medium: $on-palm !default;
$on-laptop: 50rem !default;
$on-large: $on-laptop !default;

$background: #22212C;
$selection: #454158;
$foreground: #F8F8F2;
$comment: #7970A9;

$cyan: #80FFEA;
$green: #8AFF80;
$orange: #FFCA80;
$pink: #FF80BF;
$purple: #9580FF;
$red: #FF9580;
$yellow: #FFFF80;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

%clearfix:after {
  clear: both;
  content: "";
  display: table;
}