@charset "utf-8";

$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$base-font-size: 1rem !default;
$base-line-height: 1.5 !default;

$spacing-unit: 2rem;
$content-width: 50rem;

$on-palm: 37.5rem !default;
$on-medium: $on-palm !default;
$on-laptop: $content-width !default;
$on-large: $on-laptop !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

$background: #22212C;
$foreground: #F8F8F2;
$comment: #7970A9;

$cyan: #80FFEA;
$green: #8AFF80;
$yellow: #FFFF80;

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@import "base";
@import "layout";