@charset "utf-8";

@import "base";
@import "rouge-dracula";

html {
  font-size: $base-font-size;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  color: $foreground;
  display: flex;
  flex-direction: column;
  font: 400 #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
}

// Set `margin-bottom` to maintain vertical rhythm

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm {
  margin-bottom: $spacing-unit * .5;
}

hr {
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul, > ol {
    margin-bottom: 0;
  }
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  display: block;
}

.svg-icon {
  display: inline-block;
  fill: $foreground;
  height: 1.25em;
  vertical-align: text-bottom;
  width: 1.25em;
  color: $foreground;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  padding-left: $spacing-unit * .5;
  padding-right: $spacing-unit * .5;

  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
}

.site-header {
  background-color: $selection;
  border-bottom: 0.25rem solid $cyan;
  line-height: $base-line-height * $base-font-size * 2.25;
  min-height: $spacing-unit * 1.865;

  .site-title {
    color: $foreground;
    font-size: 1.625rem;
    font-weight: 300;
    margin-bottom: 0;
  }
}

.page-content {
  flex: 1 0 auto;
  padding: $spacing-unit 0;
}

.post-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-list__meta {
  color: $yellow;
  font-size: $base-font-size * 0.875;
}

.post-list__link {
  display: block;
  font-size: 1.5rem;
}

.site-footer {
  padding: $spacing-unit 0;
}

.social-links {
  border-top: 0.25rem solid $green;
  color: $foreground;
  font-size: 0.9375rem;

  .social-media-list {
    display: table;
    list-style: none;
    margin: 0 auto;

    li {
      float: left;
      margin: 5px 10px 5px 0;

      &:last-of-type {
        margin-right: 0
      }

      a {
        display: block;
        padding: 10px 12px;
        border: 0.0625rem solid $foreground;

        &:hover {
          border-color: $cyan
        }
      }
    }
  }
}
