@charset "UTF-8";

$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size: 1rem !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit: 2rem !default;
$content-width: 45rem !default;
$on-palm: 33.75rem !default;
$on-laptop: 45rem !default;
$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

$polar-night-1: #2E3440;
$polar-night-2: #3B4252;
$polar-night-4: #4C566A;

$frost-4: #5E81AC;

$snow-storm-1: #D8DEE9;
$snow-storm-2: #E5E9F0;
$snow-storm-3: #ECEFF4;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@import "normalize";
@import "theme";