.highlight table td {
  padding: 0.375rem;
}

.highlight table pre {
  margin: 0;
}

.highlight, .highlight .w {
  color: $foreground;
}

.highlight .err {
  color: $background;
  background-color: $pink;
}

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: $comment;
}

.highlight .cp {
  color: $green;
}

.highlight .nt {
  color: $green;
}

.highlight .o, .highlight .ow {
  color: $foreground;
}

.highlight .p, .highlight .pi {
  color: $foreground;
}

.highlight .gi {
  color: $yellow;
}

.highlight .gd {
  color: $pink;
}

.highlight .gh {
  color: $cyan;
  font-weight: bold;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: $purple;
}

.highlight .kc {
  color: $orange;
}

.highlight .kt {
  color: $orange;
}

.highlight .kd {
  color: $orange;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: $yellow;
}

.highlight .sr {
  color: $cyan;
}

.highlight .si {
  color: $red;
}

.highlight .se {
  color: $red;
}

.highlight .nn {
  color: $green;
}

.highlight .nc {
  color: $green;
}

.highlight .no {
  color: $green;
}

.highlight .na {
  color: $cyan;
}

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: $yellow;
}

.highlight .ss {
  color: $yellow;
}