<!doctype html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">

  {% seo %}

  <link href="{{ '/assets/css/styles.css' | relative_url }}" rel="stylesheet">
</head>
<body>
<header class="site-header">
  <div class="wrapper">
    <div class="site-title">{{ site.title | escape }}</div>
  </div>
</header>

<main class="page-content">
  <div class="wrapper">
    {{ content }}
  </div>
</main>
</body>
</html>